@font-face {
  src: url(../../fonts/Abel-Regular.ttf);
  font-family: Abel;
}

@font-face {
  src: url(../../fonts/Metamorphous-Regular.ttf);
  font-family: Meta-mor;
}

@font-face {
  src: url(../../fonts/DancingScript-VariableFont_wght.ttf);
  font-family: Dancing;
}
